@model Neurocom.Models.NeuralNetwork

@{
    ViewBag.Title = "EditNetwork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Редагування @Model.Name</h3>

<div class="row">
    <div class="col s6 offset-s3">
       @using (Html.BeginForm("EditNetwork", "ManageNetworks"))
       {
        @Html.EditorForModel();
        <input type="submit" value="Зберегти зміни"  class="waves-effect waves-light btn">
       }

    </div>
</div>

<div class="center">
    <h5 class="header col s12">@Html.ActionLink("Закрити форму та повернутись до списку доступних нейронних мереж", "ManageNeuralNetworks")</h5>
</div>


