@model Neurocom.Models.NeuralNetwork

@{
    ViewBag.Title = "EditNetwork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редагування @Model.Name</h2>

@using (Html.BeginForm("EditNetwork", "ManageNetworks"))
{
    @Html.EditorForModel();
    <input type="submit" value="Зберегти зміни">
}

<div>
    @Html.ActionLink("Закрити форму та повернутись до списку доступних нейронних мереж", "ManageNeuralNetworks")
</div>

