
@model IEnumerable<Neurocom.Models.NetworkType>

@{
    ViewBag.Title = "ManageTypes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Менеджмент типів нейронних мереж</h3>

<div class="row">
    <div class="col s6 offset-s3">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Type ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@Html.ActionLink(item.Name, "EditType", new { typeId = item.Id })</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="center">
    <h5 class="header col s12">@Html.ActionLink("Повернутись до списку мереж", "Index", "ManageNetworks")</h5>
</div>
