@model Neurocom.CustomModels.InputDataModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataInput</h2>

<h2>Введення вхідних даних для тестування задачі @Model.taskName</h2>

@Html.Partial(Model.taskName + "InputPartial", Model)


<div>
    @Html.ActionLink("Повернутись на попередню сторінку", "Index")
</div>


