@model Neurocom.BL.Services.NetworkInitializer

@{
    ViewBag.Title = "NetworkDataInput";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Введення вхідних даних для створення нейронної мережі @Model.networkName</h3>

<div class="row">
    <div class="col s6 offset-s3">
        @using (Html.BeginForm("CreateInput", "ManageTestNetworks"))
        {
            @Html.EditorForModel();
            <input type="submit" value="Створити мережу" class="waves-effect waves-light btn">
        }
    </div>
</div>
   

