@model Neurocom.BL.Services.NetworkInitializer

@{
    ViewBag.Title = "NetworkDataInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Введеня вхідних даних для створення нейронної мережі @Model.networkName</h2>

@Html.Partial(Model.networkName + "PartialView", Model)





