
@model IEnumerable<Neurocom.CustomModels.TaskViewModel>

@{
    ViewBag.Title = "ManageData";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Менеджмент вхідних даних таблиці @ViewBag.tableName</h3>

<div class="row">
    <div class="col s6 offset-s3">
       @Html.Partial((string)ViewBag.tableName + "Partial", Model)
    </div>
</div>

