<br />

<h3>Про сайт NeuroCom</h3>
<br />
<h4>
    Даний проект розроблявся студентами групи ПІ-14-1 <b>Гавриляком Дмитром</b> та <b>Демчуком Любомиром</b>.
</h4>

<h4>
    Головна мета сайту - ознайомлення з типами нейронних мереж та можливість їх
    самостійного створити, навчити та протестувати.
</h4>
<br />
