<br /><br />
<address>
    Ivano-Frankivsk<br />
    IFNTUOG,Karpatska str,15<br />
    <abbr title="Phone">P:</abbr>
    +3805010001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>